@charset "utf-8";

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$spacing-unit: 16px;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700);

body {
  color: #333333;
  margin: 4rem 0;
  background: #f0f0f0;

  font-family: Roboto, sans-serif;
}

header {
  width: 100%;
  height: 4rem;

  position: fixed;
  top: 0;

  background-color: rgba(1, 31, 31, 0.90);
  color: white;
}

.front-page {
  background-color: rgba(31, 31, 31, 0.90);
}

.front-page > header {
  background: none;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 8rem;
}

.main {
  max-width: 62rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.ux-method {
  padding:1rem;
  display:inline-block;
  background: white;
  text-decoration: none;
  color:black;
  border-radius:3px;
  margin: 0 0.25rem 0.5rem 0;

  font-family: Roboto, sans-serif;
  font-weight: 400;

  transition: 300ms ease;
}

section {
  padding: 1rem 1rem;
}

h2 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 4rem;
}

h3 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

.research div a:hover {
  background-color: rgba(255, 76, 93, 1);
}

.design div a:hover {
  background-color: rgba(109, 255, 147, 1);
}

.validate div a:hover {
  background-color: rgba(100, 203, 255, 1);
}

.title {
  font-family: Oswald, sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
  margin-left: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav {
  float: right;
  display: inline-block;
  margin-left: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav ul li {
  display: inline-block;
  margin-right: 2rem;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.active {
  pointer-events: none;
  font-weight: 700;
  color: rgba(255, 213, 5, 1);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  margin-top: 1rem;
}

.card {
  max-width: 18rem;
  background: white;
  border-radius: 5px;
  flex: 1 1 auto;
  align-self: flex-start;
  overflow: hidden;

  border: solid 1px rgba(51,51,51,0.5);

  margin-bottom: 1rem;
  margin-right: 1rem;
}

.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}

.card img {
  max-width: 100%;
}

.card h3 {
  font-size: 1.5rem;
  margin: 0;
}

.card-content {
  padding: 1rem;
}

.card-method {
  padding: 0.25rem 0.5rem;
  display: inline-block;
  background: white;
  text-decoration: none;
  color: black;
  border-radius: 3px;
  margin-bottom: 0.5rem;

  font-family: Roboto, sans-serif;
  font-weight: 400;

  transition: 300ms ease;
}

.card-method-research {
  background-color: rgba(255, 76, 93, 1);
}

.card-method-design {
  background-color: rgba(109, 255, 147, 1);
}

.card-method-validate {
  background-color: rgba(100, 203, 255, 1);
}

@include media-query($on-palm) {
  body {
    margin-top: 7rem;
  }

  .main {
    padding: 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  nav {
    width: 100%;
    background-color: rgba(31, 31, 31, 0.90);
    float: none;
    margin: 0.5rem 0 0 0;

    ul {
      padding-left: 1rem;
    }
  }

  .card {
    max-width: 100%;
    margin-right: 0;
  }
}