---
layout: default
title: Case Studies
weight: 1
---

<h1>Case Studies</h1>
<div class="flex-row">
  {% for case_study in site.case_studies %}
    {% if case_study.title %}
      <div class="card">
        <a href="{{ case_study.url }}">
        <img src="{{ case_study.image_path }}"/></a>
        <div class="card-content">
          <h3>{{ case_study.title }}</h3>
          <span>{{ case_study.desc }}</span>
          <p>Methods used:</p>
          {% for method in case_study.research_methods %}
            <a href="#" class="card-method card-method-research">{{ method }}</a>
          {% endfor %}
          {% for method in case_study.design_methods %}
            <a href="#" class="card-method card-method-design">{{ method }}</a>
          {% endfor %}
          {% for method in case_study.validate_methods %}
            <a href="#" class="card-method card-method-validate">{{ method }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
