<header>
  <nav data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;">
    <div class="title-bar-left">
      <a href="{{root}}"><span class="title">UX Chapter</span></a>
    </div>
    <div class="title-bar-right">
      <ul class="menu">
        <li>
          <a href="{{root}}case-studies/index.html">Case Studies</a>
        </li>
        <li>
          <a href="{{root}}process/index.html">Process</a>
        </li>
        <li>
          <a href="{{root}}team/index.html">Team</a>
        </li>
        <li>
          <a href="{{root}}about/index.html">About</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</header>