---
layout: default
title: Process
weight: 2
---

<h1>Research</h1>
<div>
  <h3>Understanding your clients</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'research' and method.category == 'understanding your clients' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
<div>
  <h3>Understanding your users</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'research' and method.category == 'understanding your users' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
<div>
  <h3>Understanding the business</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'research' and method.category == 'understanding the business' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
<h1>Design</h1>
<div>
  <h3>Quick n' Dirty</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'design' and method.category == 'quick and dirty' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
<div>
  <h3>Information Architecture</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'design' and method.category == 'information architecture' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
<div>
  <h3>Ideation</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'design' and method.category == 'ideation' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
<div>
  <h3>Ideation</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'design' and method.category == 'mock-ups' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
<h1>Validate</h1>
<div>
  <h3>Qualitative</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'validate' and method.category == 'qualitative' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
<div>
  <h3>Quantitative</h3>
  <div>
  {% for method in site.methods %}
    {% if method.type == 'validate' and method.category == 'quantitative' %}
      <a href="{{ site.baseurl }}{{ method.url }}" class="ux-method">{{ method.title }}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>